.container {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  border-radius: 20px;
  border: 1px solid purple;
  background: linear-gradient(
    91.1deg,
    rgb(57, 31, 105) -2.3%,
    rgb(115, 43, 155) 44.4%,
    rgb(231, 75, 184) 103.4%
  );
}

.leftpanel {
  margin-left: 1rem;
  display: flex;
  flex-flow: row nowrap;
  width: 60%;
  align-items: center;
  margin-bottom: 3rem;
  border-radius: 2rem;
}

.leftpanel h1 {
  color: #fff;
  margin-left: 2rem;
  align-self: flex-start;
  font-size: 5vw;
}

.leftpanel img {
  width: 25vw;
  margin-top: 25vh;
  transform: translateX(-10vw);
}

.rightpanel {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;

  min-height: 50vh;
  gap: 30px;
}

.rightpanel h1 {
  font-size: 3vw;
  color: #fff;
  margin-bottom: 0.5rem;
}

.inputBox {
  position: relative;
  display: flex;
}

.inputBox input {
  width: 15rem;
  height: 2rem;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.865);
  background-color: rgba(151,53,164,255);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
}

.inputBox textarea {
  resize: none;
  width: 15rem;
  height: 7rem;
  border: 1px solid rgba(255, 255, 255, 0.865);
  background-color: rgba(151,53,164,255);
  outline: none;
  color: #fff;
  padding: 15px;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.865);
}

.inputBox input:focus ~ span {
  color: rgba(255, 255, 255, 0.865);
  transform: translateX(10px) translateY(-7px);
  font-size: 1rem;
  padding: 0 10px;
  background-color: rgba(151,53,164,255);
  transition: 0.1s ease-in-out;
}

.inputBox textarea:focus ~ span {
  color: rgba(255, 255, 255, 0.865);
  transform: translateX(10px) translateY(-7px);
  font-size: 1rem;
  padding: 0 10px;
  background-color: rgba(151,53,164,255);
  transition: 0.1s ease-in-out;
}


.rightpanel button {
  border: 1px solid rgba(255, 255, 255, 0.865);
  border-radius: 15px;
  color: #fff;
  background-color: rgba(151,53,164,255);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 10px;
}

.links {
  display: flex;
  gap: 2vw ;
}

.links a {
  text-decoration: none;
}

.icon {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
}
